<!DOCTYPE html>
<html>
	<head>
		<title>Topzone</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<p class="notice">
			<%= notice %>
		</p>
		<p class="alert">
			<%= alert %>
		</p>
		<div id="page_overlay">
			<div id="page_menubar">
				<!-- 呼叫menu -->
				<%= render :partial => 'common/menu'%>
				<!-- 呼叫side bar -->
				<%= render :partial => 'common/sidebar'%>

				<div id="page_maintext">
					<div id="page_content" style="margin-top: 0px; background-color: #ffffff; color:#333333">
						<%= yield %>
					</div>
				</div>

				<!-- The container for the description -->
				<div id="image_description">
					<span id="image_artist"></span>
					<br/>
					<a id="image_url"></a>
				</div>

				<!-- The container for the background-image -->
				<img id="bg" style="display:none" />

				<!-- The container for the grid on top of the background-image -->
				<div id="bg_grid"></div>

			</div>

	</body>
</html>
